#
# How to Create a Python Requirements File
#
# 1. pip3 install pipreqs
# 2. pipreqs --ignore test --force .
#

alembic==1.12.0
cryptography==41.0.4
# Keylime requires also gpg (LGPLv2+).
# Those bindings must match the local GPG version and therefore this package is not installed via PyPI.
Jinja2==3.0.3
jsonschema==4.19.1
lark==1.1.7
packaging==23.2
pyasn1==0.5.0
pyasn1_modules==0.3.0
PyYAML==6.0.1
pyzmq==25.1.1
Requests==2.31.0
rfc3161ng==2.1.3
rpm==0.1.0
setuptools==65.5.1
SQLAlchemy==2.0.21
tornado==6.3.3
typing_extensions==4.8.0
